$length: 6;
$rounds: 6;

$correctColor: green;
$wrongPosColor: yellow;
$incorrectColor: lightgrey;

.App {
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  display: grid;
  grid-template-rows: 7fr 3fr;
}

.board {
  display: grid;
  grid-template-columns: repeat($length, 1fr);
  place-items: center;
  max-height: 100%;
  padding: 2em;
  grid-gap: 1px;
  background-color: black;
  border: 1px solid black;
}

.input {
  justify-self: stretch;
  align-self: stretch;
  font-size: 5vw;
  aspect-ratio: 1;
  place-items: center;
  display: grid;
  padding: 0;
  background-color: white;
  @media screen and (max-width: 480px) {
    font-size: 6vw;
  }

  &.correct {
    background-color: $correctColor;
  }

  &.wrong_position {
    background-color: $wrongPosColor;
  }

  &.incorrect {
    background-color: $incorrectColor;
  }
}
