$length: 6;
$rounds: 6;

$correctColor: green;
$wrongPosColor: yellow;
$incorrectColor: lightgrey;

.App {
  max-width: 1280px;
  height: 100vh;
  display: grid;
  grid-template-rows: 7fr 3fr;
}

.board {
  display: grid;
  grid-template-columns: repeat($length, 1fr);
  justify-content: center;
  max-height: 100%;
  padding: 2em;
}

.input {
  justify-self: stretch;
  align-self: stretch;
  width: 100%;
  font-size: 5vw;
  text-align: center;
  border: 2px solid black;
  padding: 0;
  @media screen and (max-width: 480px) {
    font-size: 6vw;
  }
  &:disabled {
    border: 1px solid rgb(184, 184, 184);
    padding: 0;
    color: black;
    background-color: rgba(238, 238, 238, 0.701);
  }

  &.correct {
    :disabled {
      background-color: $correctColor;
    }
    background-color: $correctColor;
  }

  &.wrong_position {
    :disabled {
      background-color: $wrongPosColor;
    }
    background-color: $wrongPosColor;
  }

  &.incorrect {
    :disabled {
      background-color: $incorrectColor;
    }
    background-color: $incorrectColor;
  }
}
